# Environment variables
.env
.env.*

# Logs
/logs
*.log

# VS Code
.vscode/
.idea/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/bin/

# Temporary files
*.tmp
.DS_Store
Thumbs.db

# Build output
/build/
/dist/

# Debug files
debug/